{% extends "base.html" %} {% block content %}
{% load static %}
<div class="container mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- Previous Page Link -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            <!-- Current Page -->
            <li class="page-item disabled">
                <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
            </li>

            <!-- Next Page Link -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&raquo;&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<h1>Objektų sąrašas:</h1>
{% if place_list %}
<div class="row">
    {% for place in place_list %}
    <div class="col-sm-6 col-md-3 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">
            {% if place.cover %}
            <img src="{{ place.cover.url }}" class="card-img-top">
            {% else %}
            <img src="{% static 'img/noimg.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ place.title }}</h6>
                <p class="card-text"><a>{{ place.address }}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Šiuo metu lankytinų objektų nėra .</p>
{% endif %}
{% endblock %}