{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <h1>Objektų sąrašas:</h1>
    <div class="container mt-5">

        <div class="mb-3">
            <label for="categoryFilter"><strong>Filtruoti pagal kategoriją:</strong></label>
            <select id="categoryFilter" onchange="location = this.value;">
                <option value="{% url 'place-list' %}">Visi objektai</option>
                {% for category in categories %}
                <option value="{% url 'place-list' %}?category={{ category.name }}"
                        {% if request.GET.category == category.name %} selected {% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
            <hr/>
            {% if subcategories %}
            <!-- Sąliginis atvaizdavimas -->
            <label><strong>Filtruoti pagal subkategoriją:</strong></label>
            <div class="subcategory-row text-center">
                <a href="{% url 'place-list' %}?category={{ request.GET.category }}"
                   class="btn {% if not request.GET.subcategory %}btn-active{% endif %}">Visi objektai</a>
                {% for subcategory in subcategories %}
                <a href="{% url 'place-list' %}?category={{ request.GET.category }}&subcategory={{ subcategory.name }}"
                   class="btn {% if request.GET.subcategory == subcategory.name %}btn-active{% endif %}">
                    {{ subcategory.name }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- puslapiavimas -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- Previous Page Link -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page=1{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.subcategory %}&subcategory={{ request.GET.subcategory }}{% endif %}"
                       aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.subcategory %}&subcategory={{ request.GET.subcategory }}{% endif %}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                {% endif %}
                <!-- Current Page -->
                <li class="page-item disabled">
                    <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                </li>
                <!-- Next Page Link -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.subcategory %}&subcategory={{ request.GET.subcategory }}{% endif %}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.subcategory %}&subcategory={{ request.GET.subcategory }}{% endif %}"
                       aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&raquo;&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>

        <!-- Object List with Pictures -->
        {% if place_list %}
        <div class="row">
            {% for place in place_list %}
            <div class="col-sm-6 col-md-3 d-flex align-items-stretch">
                <div class="card mb-4 shadow-sm">
                    {% if place.cover %}
                    <img src="{{ place.cover.url }}" class="card-img-top">
                    {% else %}
                    <img src="{% static 'img/noimg.png' %}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'place-detail' place.id %}">{{ place.title }}</a></h6>
                        <p class="card-text">{{ place.address }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <p>Netrukus čia atsiras puikių naujų vietų. Užsukite vėliau!</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
