{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- left-column img-->
        <div class="col-md-4">
            <div class="text-center mt-5">
                <img class="rounded-circle account-img" src="{{ user.profilis.nuotrauka.url }}" alt="User Avatar" />
            </div>
        </div>

        <!-- right-column content -->
        <div class="col-md-8 mt-5">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>

            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profilio Info</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Atnaujinti</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

