/* Your CSS styles here */

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

body {
    background-image: url('/static/img/anyksciai.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-link {
    background-color: #b8ddfc;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

/* footer shaddow */
.my-top-shadow {
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

/* navigation buttonds */
.index-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.index-subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.stats-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat-item {
    flex: 0 1 calc(25% - 1em);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .stat-item {
        flex: 0 1 calc(50% - 1em);
    }
}

.subcategory-row {
    display: flex;
    flex-direction: row;
    gap: 10px; /* adjust as needed */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    padding: 5px;
    background-color: #b2c2d1;
    border: none;
    cursor: pointer;
}

.btn-active {
    background-color: #5187bd;
    color: white;
}

.small-subcategories {
    font-size: 0.8em;
}

