{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Iš naujo nustatyti slaptažodį</h4>
          </div>
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}

              <div class="form-group">
                <label for="{{ form.email.id_for_label }}">El. paštas:</label>
                {% if form.email.errors %}
                  <div class="alert alert-danger">
                    {{ form.email.errors }}
                  </div>
                {% endif %}
                {{ form.email|add_class:"form-control" }}
              </div>

              <div class="form-group text-center">
                <input type="submit" class="btn btn-outline-info" value="Iš naujo nustatyti slaptažodį">
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
